<html>
    <head>
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.0/socket.io.min.js"></script>
      <script type="text/javascript" charset="utf-8"></script>    

      <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart', 'table']});
        google.charts.setOnLoadCallback(init);

        function init() {
          var socket = io();
          console.log("init")
          socket.on('measdata', function (data) {
            var s = JSON.parse(data);
            drawChart(s);
          })
        }

        function drawChart(s) {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'id');
            data.addColumn('number', 'pressure');
            data.addColumn('number', 'temperature');
            data.addColumn('number', 'humidity');
            console.log("draw row", s)
            data.addRows(s);
  
          var options = {
            title: 'Measurement data',
            curveType: 'function',
            legend: { position: 'bottom' }
          };
  
          var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
  
          chart.draw(data, options);
        }
      </script>
    </head>
    <body>
      <div id="curve_chart" style="width: 900px; height: 500px"></div>
    </body>
  </html>